@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --brand-green: #9eff38;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-green: var(--brand-green);
}

body {
  background: var(--background);
  color: var(--foreground);
}
